<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/service" method="post">
    <label for="name">Service Name:</label>
    <input type="text" id="name" name="name">
    <label for="duration">Service Duration</label>
    <input type="text" id="duration" name="duration"/>
    <lable for="cost" >Service Cost</lable>
    <input type="Cost" id="cost" name="cost"/>
    <button type="submit">submit</button>
  </form>
</body>
</html>